{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block container %}
    <h1>Welcome {{ app.user.username }} to admin dashboard</h1>
    <a href="{{ path('new_post') }}">Add new post!</a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.createdAt | date }}</td>
                    <td>{{ post.updatedAt | date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}