{% extends 'base.html.twig' %}

{% block title %}Blog | {{ post.title | slice(0, 10) ~ '...' }}{% endblock %}

{% block container %}
    <div class="post">
        <img src="{{ asset('uploads/banners/' ~ post.bannerFilename) }}" alt="" class="post-banner">
        <h1>{{ post.title }}</h1>
        <p class="author">Author: {{ post.author.username | capitalize }}</p>
        <div class="timestamps">
            <div class="updated-at">
                <small>Last updated: {{ post.updatedAt | date('d.m.Y') }}</small>
            </div>
        </div>
        <div class="likes">
            <b>Likes: {{ post.likes | length }}</b>
            {% if app.user %}
                <form action="{{ path('like_post', {'id': post.id}) }}" method="post">
                    <input type="hidden" name="like_post_token" value="{{ csrf_token('post-like') }}">
                    {% if post.likes.contains(app.user) %}
                        <button type="submit" class="btn btn-primary btn-sm">Liked</button>
                    {% else %}
                        <button type="submit" class="btn btn-outline-primary btn-sm">Like</button>
                    {% endif %}
                </form>
            {% endif %}
        </div>
        <div class="post-content">
            <p>{{ post.content }}</p>
        </div>
        <div class="post-actions">
            {% if is_granted('ROLE_ADMIN') %}
                <form action="{{ path('post_delete', {'id': post.id}) }}" method="post">
                    <input type="hidden" class="form-control" value="{{ csrf_token('post-delete') }}" name="token">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-warning edit-btn">Edit</a>
            {% endif %}
        </div>
        <hr/>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        {% if is_granted('ROLE_USER') %}
            {{ form(commentForm) }}
        {% endif %}
        <div class="row comments-container">
            {% if post.comments | length > 0 %}
                {% for comment in post.comments | reverse %}
                    <div class="col-sm-12">
                        <div class="card single-comment">
                            <div class="card-body">
                                <h5 class="card-title">{{ comment.author.username | capitalize }}</h5>
                                <p class="card-text">
                                    <b>Likes: {{ comment.likes | length }} <br/></b>
                                    {{ comment.content }}
                                </p>
                                {% if is_granted('ROLE_USER') %}
                                    <form action="{{ path('like_comment', {'id': comment.id}) }}" method="post">
                                        <input type="hidden" class="form-control" name="like_comment_token" value="{{ csrf_token('comment-like') }}">
                                        {% if comment.likes.contains(app.user) %}
                                            <button class="btn btn-sm btn-primary comment-liked-btn" type="submit">Liked</button>
                                        {% else %}
                                            <button class="btn btn-sm btn-outline-primary comment-like-btn" type="submit">Like</button>
                                        {% endif %}
                                    </form>
                                {% endif %}
                                {% if is_granted('COMMENT_DELETE', comment) %}
                                    <form action="{{ path('comment_delete', {'id': comment.id}) }}" method="post">
                                        <input type="hidden" class="form-control" name="token" value="{{ csrf_token('delete-comment') }}">
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                Last updated: {{ comment.updatedAt | date }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>No comments yet</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}